*{
	margin:0;
}
.body{
	background-color: #f8fafc;
    overflow-y: scroll;
    padding-top: 0;
}
.black{
	width:200px;
	height:100px;
	position:relative;
	left:40%;
}
.autoin{
	font-size: 5px;
	color: #9199A1;
}
.text{
	margin: 0 20px;
    font-size: 4px
}
.text2{
	font-size: 4px
}
.block-one{
	left: 127px;
    top: 108px;
    position: relative;
    border: 1px solid;
    width: 373px;
    height: 361px;
    text-align: center;
    background: #fff;
    z-index: 100000;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 0 12px 24px 0 rgba(28,31,33,.1);
    border-radius: 12px;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.block-two{
	position:relative;
	left:30%;
	
}
.block-three{
	    height: 236px;
    position: relative;
    left: 47px;
    top: 10px;
}
.block-four{
	    top: 21px;
    left: 0px;
    width: 267px;
    height: 50px;
    position: relative;
    border-radius: 5px
}
.name{ 
   width: 231px;
	padding: 14px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
	margin:5px;
}
.password{
	    width: 231px;
	padding: 14px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
	margin:5px;
}
.code{
	      width: 85px;
    padding: 3px;
    box-shadow: 2px 0 5px 0 #fff;
    background: rgba(28,31,33,.06);
    border-radius: 8px;
    border: 0;
    margin: 5px;
}
.input{
    color: #9199A1;
	float:left;
	margin:0 10px;
	
}
.over{
	width: 270px;
}
.into{
	    width: 258px;
    border-style: solid;
    border-width: 1px;
    padding: 11px 32px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff;
    background-color: #f20d0d;
    border-color: #f20d0d;
}